{% layout 'Shared/Layouts/_Root' %}

<h1>Hi</h1>
<div class="start">	
	{{ Property.For(Model = Model.CurrentPage.MainContentArea, PropertyName = "MainContentArea", CssClass = "row", Tag="wide" ) }}
</div>